<div id="reserve">
    <h3>Booking Section</h3>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="form-group">
                <label for="usrname">Name:</label>
                <input type="text" class="form-control" id="usrname">
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="form-group">
                <label for="seattotal">Number of Seats:</label>
                <input type="number" class="form-control" id="seattotal">
            </div>
        </div>
    </div>
    <div class="text-center">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4">
                <button type="button" id="startSelection" class="btn btn-primary">Start Selecting</button>               
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
                <button type="button" id="bookedhistory" class="btn btn-primary">View Booked History</button>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
                <button type="button" id="logoutBtn" class="btn btn-primary">logout Selecting</button>
              
            </div>
        </div>
    </div>
    <!-- Seat Label section Starts-->
    <div class="row pleft-1c ptop-20" id="seatnos">
    </div>
    <!-- Seat Label section End-->
    <!-- Seat view section Starts-->
    <div class="row paddingRight10" id="seatsView">
    </div>
    <!-- Seat view section End-->
    <div class="text-center ptop-20">
        <button id="confirm" type="button" class="btn btn-primary">Confirm</button>
    </div>
</div>
